# Virtual Environment
venv/
env/

# Datasets & Zip Archives
data/
CarDD/
precise2d_dataset1/
*.zip

# Training Logs & Heavy Checkpoints
runs/
precise2d_dataset1/
checkpoints/
yolov8s.pt

# Python & System Cache
__pycache__/
*.pyc
.DS_Store
.vscode/
node_modules/
dist/
dist-ssr/
*.log